<div class="left">
    <div class="input-group input-group-sm">
        <div class="input-group-prepend">
        </div>
        <input type="text" class="form-control" placeholder="Title" #title>        
    </div>
    <div class="input-group input-group-sm">
        <div class="input-group-prepend">
        </div>
        <input type="text" class="form-control" placeholder="Genre" #genre>        
    </div>
    <br>
    <button type="button" class="btn btn-primary btn-sm" (click)="addBook(title.value,genre.value)">Add a book</button>
</div>

