<div class="left">
    <div class="container">
        <p>
            Add a Book
        </p>
        <div class="input-group input-group-sm">
            <div class="input-group-prepend">
            </div>
            <input type="text" class="form-control" placeholder="Book title" #title>        
        </div>
        <div class="input-group input-group-sm">
            <div class="input-group-prepend">
            </div>
            <select class="custom-select custom-select-sm" #genre>            
                <option [value]="undefined">Select genre</option>
                <option *ngFor="let genre of genres$ | async" [value]="genre.name">{{ genre.name }}</option>                        
            </select>       
        </div>    
        <br>
        <button type="button" class="btn btn-primary btn-sm" (click)="addBook(title.value,genre.value)">Add</button>
    </div>
    
    <br>
    <br>
    <div class="container">
        <p>
            Add a Genre
        </p>
        <div class="input-group input-group-sm">
            <div class="input-group-prepend">
            </div>
            <input type="text" class="form-control" placeholder="Genre" #name>        
        </div>
        <br>
        <button type="button" class="btn btn-primary btn-sm" (click)="addGenre(name.value)">Add</button>
    </div>    
<br>
<br>
<h5>
    Genres
</h5>
<div class="right" *ngIf="genres$">
    <table class="table table-hover table-dark table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let genre of genres$ | async">
          <td>
            <button type="button" class="btn btn-danger btn-sm" (click)="delGenre(genre.name)">x</button>
          </td>
          <td>{{ genre.name }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

