<div class="right" *ngIf="books$">
  <table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Genre</th>
        <th scope="col">Update</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books$ | async">
        <td>
          <button type="button" class="btn btn-danger btn-sm" (click)="delBook(book.title)">x</button>
        </td>
        <td>{{ book.title }}</td>
        <td>{{ book.genre }}</td>
        <td>
          <div class="input-group input-group-sm">            
            <input type="text" placeholder="Title" class="form-control">
            <button type="button" class="btn btn-warning btn-sm disable">Update</button>
          </div>        
        </td>
      </tr>
    </tbody>
  </table>
</div>

  